<html lang="zh-CN">
<head>
{% load static %}
<title>光荣之路测试平台</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
<div class="container">
<ul class="nav justify-content-left"> &nbsp;
</ul>
<ul class="nav justify-content-center"> &nbsp;
</ul>
<ul class="nav justify-content-end" style="position:absolute; left:10px; bottom:0px; ">
<li class="nav-link"><a style='color:white' href="/logout/">光荣之路测试平台</a></li>
</ul>
<ul class="nav justify-content-end" style="position:absolute; right:10px; bottom:0px; ">
<li class="nav-link" style="color: #fdfdfe">当前用户：<a style='color:white' href="/home/">{{ user }}</a></li>
<li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
</ul>
</div>
</nav>


{% csrf_token %}


<div class="row" style="padding-top: 50px; position:absolute; left:20px; top:0px;">
<div class="col-md-12">
<table class="table table-striped">
<thead>

</thead>
<tbody>

<tr>


<ul class="nav navbar-nav navbar-right">
{#<li>欢迎您，{{ user }}</li>#}
<li><a href="../admin/">admin管理页面</a></li>
<li><a href="/case_manage/"  target="_top">用例管理</a></li>
<li><a href="/case_result_level_one/"  target="_top">用例结果</a></li>
<li><a href="/suite_manage/"  target="_top">用例集管理</a></li>
</ul>
</tr>
</tbody>
</table>
</div>
</div>


</div>
</body>
</html>

