
<!DOCTYPE html>
<html>
<head>
<title>Download</title>
<script type="text/javascript">
//页面加载的时候,所有的复选框都是未选中的状态
function checkOrCancelAll()
{
    var chElt=document.getElementById("chElt");//1.获取checkbo的元素对象    
    var checkedElt = chElt.checked;//2.获取选中状态
    var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

    //var allCheck = document.getElementsByName("file");//方法2
    var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
    if(checkedElt)//全选
    {
        
        for(var i=0;i<allCheck.length;i++)
        {
            //设置复选框的选中状态
            allCheck[i].checked=true;
        }
        mySpan.innerHTML="取消全选";
    }
    else//取消全选
    {
        for(var i=0;i<allCheck.length;i++)
        {
            allCheck[i].checked=false;
        }
        mySpan.innerHTML="全选";
    }
}
function ischecked()
{
    var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
    for(var i=0;i<allCheck.length;i++)
    {
        if(allCheck[i].checked == true)
        {
            return true
        }
    }
    alert("请选择文件")
    return false
}
</script>

</head>
<body>


 <form action="DownLoad/" method="POST" style="position:absolute; top:10px; left:10px"> 
     {% csrf_token %}

<label><input name="submit" type="submit" onclick="return ischecked()" value="下载" /> </label> <br />
<input type="checkbox" id="chElt" onclick="checkOrCancelAll();"/><span id="mySpan">全选</span> <br />

<label><input class="file" name="file1" type="checkbox" value="[三块广告牌]BD中英双字_bd.mp4" />[三块广告牌]BD中英双字_bd.mp4 </label> <br />
<label><input class="file" name="file1" type="checkbox" value="[与神同行]BD韩语中字_bd.mp4" />[与神同行]BD韩语中字_bd.mp4 </label> <br />
<label><input class="file" name="file3" type="checkbox" value="[功夫]国语版_bd.mp4" />[功夫]国语版_bd.mp4 </label> <br />
<label><input class="file" name="file4" type="checkbox" value="万能钥匙" />万能钥匙 </label> <br />
</form> 


</body>
</html>
 